body {
    background-color: #f0f8ff;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: black;
}

header {
    background-color: rgb(11, 9, 26);
    text-align:center ;
    color: #ddad00;
    padding: 35px;
    border-bottom: 5px solid orange;
    
}

h1 {
    font-size: 45px;
    text-align: center;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}
nav {
    text-align: center;
    background-color: rgb(16, 13, 44);
    border-radius: 30px;
    margin: 20px;
    font-size: 30px;
    padding: 15px;
    border-top:5px solid rgb(0, 0, 9);

}
a {
    text-decoration: none;
    color: azure;
   margin: 0px 15px;
   padding: 10px 20px;
   border-radius: 25px;
   
}
h2 {
    text-align: center;
    color: rgb(255, 198, 73);
    border-bottom:5px solid rgb(0, 22, 119) ;
    font-size: 30px;
}

a:hover {
 color: #ddad00;
}
.content {
    display: flex;
    margin: 20px 10px;
}
img {
    margin: 30px;
    border-radius:20px;
    border: 5px solid rgb(28, 148, 223);
}

.text {
    flex: 1;
    
}

table {
    border-collapse:collapse;
    margin:20px 0px ;
    width: 100%;
    
}

td {
    border: 1px solid #01579b;
    background-color: #e3f2fd;
}
footer {
    background-color: #01579b;
    text-align: center;
    color: azure;
    padding: 25px;
    border-top: 5px solid orange;
    margin-top: 50px ;
}

div {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 25px;
    border: 3px solid #e3f2fd;
}
